#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  height: 100%;
  column-count: auto;
  display: flex;
}

.computer { 
  flex: 1;
}

.gameInfo { 
  flex: 1;
  justify-content: center;
  align-items: center;
}

.player { 
  flex: 1;
}

p {
  font-size: xx-large;
}

button {
  color: transparent;
}

img {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  background-color: transparent;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
